<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="defaultScriptingLanguage" value="com.baomidou.mybatisplus.core.MybatisXMLLanguageDriver"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Calendar" type="java.util.Calendar"/>
        <typeAlias alias="JSONObject" type="com.alibaba.fastjson2.JSONObject"/>
        <typeAlias alias="JSONArray" type="com.alibaba.fastjson2.JSONArray"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.hwj.basic.server.support.mybatis.typehandler.JSONObjectTypeHandler"
                     javaType="com.alibaba.fastjson2.JSONObject"/>

    </typeHandlers>

</configuration>
